# @link https://coderwall.com/p/_dcz0q/iptables-cheatsheet
# ensure to accept the connection in first place
iptables -P INPUT ACCEPT

# accept already established connection (lDNS queries etc)
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# put your ip here and get full access to your server
{% for ip in ip_whitelist %}
  iptables -A INPUT -s {{ ip }} -j ACCEPT
{% endfor %}

# if you want your server to respond to ping request
iptables -A INPUT -p icmp  -j ACCEPT

# open a specific port (here HTTP)
iptables -A INPUT -p tcp --dport 80 -j ACCEPT
iptables -A INPUT -p tcp --dport 443 -j ACCEPT
iptables -A INPUT -p tcp --dport {{ ssh_port }} -j ACCEPT

{% if development and ports %}
  {% for port in ports %}
    iptables -A INPUT -p tcp --dport {{ port }} -j ACCEPT
  {% endfor %}
{% endif %}

# all other request will be dropped
iptables -P INPUT DROP
